html{
	font-family: Arial, Verdana, Sans-serif;
}
body{
	margin: 0;	/*8px margin by default; html background (set separately) can be seen behind body*/
	font-size: 15px;
	background-color: white;
	min-height: 100vh;	/*for scrollable child elements? and to set the height for child elements */
}
header, section, footer { /*parents html-> body*/
	left: 2.5%;
	right: 2.5%;	
}
header{
	border-bottom: 2px solid black;
	position: fixed;
	top: 0;
	height: 10%; /*does not take into account padding; padding is extra on top*/	
	min-height: 30px;
	padding: 0px 10px;
}
h1 {
	position: absolute;
	bottom: 0;
}
div.btn-div {
  position: absolute;
  bottom: 0;
  right: 20px;
  border: 1px solid #73AD21;
}
.btn {
	cursor: pointer;
	padding: 2px 5px;
	margin: 10px;
	box-shadow: 3px 3px 3px 1px #000; /*divided black colour: rgb(0 0 0 /0.2) */
}
.btn:hover {
	margin-right: 8px;
	margin-bottom: 8px;
	margin-left: 12px;
	box-shadow: 3px 3px 2px 0px #000;  /*blur x offset, blur y offset, blur radius, shadow radius, shadow colour */
}
footer{
	border-top: 2px solid black;
	position: fixed;
	bottom: 0;
	height: 9%;	
	min-height: 20px;
	padding: 0px 10px;	
/*	text-align: center;*/
	font-size: 15px;
	/* Center child horizontally*/
	display: flex;
	justify-content: center;
	z-index: 1;
}
/*
footer p {
	line-height: 2;
	display: inline-block;
	vertical-align: middle;
}
*/
footer p {
/*	margin: 0 auto;*/ /* margin auto works to center horizontally, stops working with absolute position, then works vertically;*/

	/*center vertically*/
	position: absolute;
	top: 50%;
	transform: translate(0, -50%); /*top of the line 50% higher (truly centered)*/
	margin: auto;
}
/*weird percentages; how can I map the center point, so would work for all screen sizes?*/
section{
    border: 1px solid blue;
	position: fixed;
	top: 11%;
	max-height: 79%;	
	overflow-y: auto;
	text-align: left;

}

/*Product Add*/
div.product-form {
	display: block;
	border: 1px solid green;
	padding: 10px 0px;
} 
fieldset{
	border: 0;
	margin: 5px;
}
fieldset#dvd, fieldset#book, fieldset#furniture {
	display: none;
}
#fieldset-main label, fieldset#dvd label, fieldset#book label, fieldset#furniture label {
  display: inline-block;
  width: 100px;
  font-weight: bold;
}
p#msg {
	display: inline-block;
	color: red;
	margin: 0px 10px;
}

/*Product List*/
div.product-list-container {  /*this container has to be in center, so the items can show from left side (not center), if the line is not full */
	display: block;
	border: 1px solid red;	
	padding: 1px;
	/*text-align: center;*/ /*child divs are in center, except when that div is box around item divs */
	
	/* Center child horizontally*//*does not work here; are child divs to blame??*/
/*	display: flex;
	justify-content: center;  */
}
div.centered-product-list-container {
	display: inline-block;	/*if block - stop containing items, extra texts wrap around items on the free side*/
	border: 1px solid yellow;
	margin: auto;
}
div.product-item {
	border: 1px solid black;	
/*	display: inline-block;	*/
	float: left; /*divs next to each other, but stops being in center*/
/*without float items start to misalign vertically if there is a line break inside (long text)*/
	
	margin: 20px;
	text-align: center; /*no need for this, if a parent already has this property written */
	width: 20%;
	min-width: 200px ;
	height: 150px;

	
}
.delete-checkbox{
/*	position: absolute; top:5%; left: 5%;*//*for some reason thinks that parent element is container not item (form I guess)*/
	display: block;
	margin: 10px;
}
div.product-item p{	
	margin: 1px;
	overflow-wrap: break-word; 
	
	
}






/*
is if (data) missing? (maybe 'twas 2 days to find the problem) in JS

several days of work to solve in 3 hours:
ask php for error reports (does it not give them on it's own?) like $mysqli->error (warned me about syntax with ',,,)', which allowed me to think about the last parameters that can be empty;
if there is long line of parameters (both setting and getting in any form), are they all accounted for?
check everything that might give any kind of NULL value (and if that NULL needs to be 'NULL' in php;

TO DO
form action asks for certain class/method [if can't find how, then separate file...

always validate for decimals - both dot and comma allowed somehow !!
which product_type is asked, that value becomes required - JS!

setters,getters

list, checkbox for deletion...[input as forms foreach]
*/

/*
https://thepiratebay10.org/search/php%20oop/1/99/0
https://thepiratebay.cam/search/php%20oop/1/99/0
Complete Web Development Course: HTML, Vue.js, PHP, MySQL
*/