﻿/* *, html, body, */
/*end version colours in RGB or he x*/
*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: Arial, Verdana, Sans-serif;
}

body {
    margin: 0; /*8px margin by default; html background (set separately) can be seen behind body*/
    overflow-y: auto;
    min-height: 100vh; /*for scrollable child elements? and to set the height for child elements*/
}

header, main, footer { /*parents html-> body*/
    left: 2.5%;
    right: 2.5%;
}
/* HEADER SECTION */
header {
    border: 1px solid aqua;
    border-bottom: 2px solid black;
    position: fixed;
    top: 0;
    height: 10%;
    min-height: 30px;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap; /*DOES NOT WORK - because absolutes?*/
}
h1 { /*div around the h1, called main-title, that corrects the look; don't mess with built in tags*/
    position: absolute;
    bottom: 0;
}

/* h1 and buttons - flex-wrap? so buttons go under the h1 when screen is shrunk */

div.btn-div { /*FLEXBOX, not absolutes?*/
    position: absolute;
    bottom: 0;
    right: 20px;
    border: 1px solid #73AD21;
}
.btn {
    cursor: pointer;
    padding: 2px 5px;
    margin: 10px;
    box-shadow: 3px 3px 3px 1px #000; /*divided black colour: rgb(0 0 0 /0.2) */
}
.btn:hover {
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 12px;
    box-shadow: 3px 3px 2px 0 #000;  /*blur x offset, blur y offset, blur radius, shadow radius, shadow colour */
}
/* ----------------------------------- */
footer{
    border-top: 2px solid black;
    position: fixed;
    bottom: 0;
    height: 9%;
    min-height: 20px;
    padding: 0 10px;
    /*	text-align: center;*/
    font-size: 15px;
    /* Center child horizontally*/
    display: flex;
    justify-content: center;
    align-items: center;
}
/*center with FLEXBOX/GRID!*/
footer p {

}

main{ /* is there another version for not going on top of header/footer? */
    border: 1px solid blue;
    position: fixed;
    top: 11%;
    max-height: 79%;
   /* overflow-y: auto;*/
/*this main part could have a scroller (initial version); but all screen could be scrollable, and footer have Z-index*/
    /*  text-align: left;*/

}

/* PRODUCT LIST */
/*div.product-list-container {*/
#product_list { /* a form - parent of list items */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    border: 1px solid red;
    margin: 0 10px;
}

/*TODO at certain screen width - 3 columns etc.... */
@media only screen and (max-width: 920px) {
    #product_list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        border: 1px solid red;
    }
}

@media only screen and (max-width: 700px) { /*min 200px item, about 20px vertical spaces + scrollbar*/
    #product_list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        border: 1px solid red;
    }
}

@media only screen and (max-width: 480px) {
    #product_list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        border: 1px solid red;
    }
}

div.product-item {
    border: 1px solid #000;
    text-align: center; /*no need for this, if a parent already has this property written */
    height: 150px;
    min-width: 200px;
}

.delete-checkbox{
    /*	position: absolute; top:5%; left: 5%;*//*for some reason thinks that parent element is container not item (form I guess)*/
    display: block;
    margin: 10px;
}

div.product-item p{
    margin: 1px;
    overflow-wrap: break-word;
}


/* PRODUCT ADD */
div.product-form {
    display: block;
    border: 1px solid yellow;
    margin: 10px;
}
fieldset{
    border: 0;
    margin: 5px;
}
fieldset#dvd, fieldset#book, fieldset#furniture {
    display: none;
}
#fieldset-main label, fieldset#dvd label, fieldset#book label, fieldset#furniture label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}
p#msg {
    display: inline-block;
    color: red;
    margin: 0px 10px;
}